* {
  margin: 0;
  padding: 0;
}
#first-section {
  background: rgba(255, 144, 14, 0.1);
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.sub-navbar {
  display: flex;
}

.sub-navbar h5 {
  padding: 0 20px;
}
.main-name {
  padding-left: 250px;
  padding-top: 50px;
  font-size: x-large;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}
.sub-navbar {
  font-size: x-large;
  font-weight: 700;
  padding-top: 60px;
  padding-right: 200px;
}
.new-brand h1 {
  font-size: 60px;
  font-weight: bolder;
  line-height: 70px;
  font-family: serif;
}
.new-brand p {
  color: #727272;
  font-size: 18px;
}
.new-brand button {
  padding: 20px 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: #ff900e;
}
.employee {
  padding-bottom: 50px;
}
/* section-2 */
.images {
  width: 342px;
  height: 342px;
  display: flex;
}
.team1 {
  padding: 70px 0px 0px 280px;
}
.team2 {
  padding: 70px 0px 0px 25px;
}
.team3 {
  margin-left: -730px;
  margin-top: 360px;
  padding: 90px 0px 0px 25px;
}
.team4 {
  margin-top: 380px;
  padding: 70px 0px 0px 25px;
}
.features {
  width: 468px;
  height: 106px;
  margin-left: 1085px;
}
.grey {
  color: #727272;
  font-family: sans-serif;
  font-weight: normal;
}
.orange {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  color: #ff900e;
  font-weight: 900;
}
.features h1 {
  font-size: 50px;
  font-weight: 700;
}
.features article {
  font-size: 20px;
  color: #727272;
}
.features button {
  padding: 20px 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: #ff900e;
}
/* Section-3 */
#third-section {
  width: 5px;
  height: 106px;
  margin-left: 240px;
  margin-top: 500px;
  background: #ff900e;
}
.enjoy-life h2 {
  width: 300px;
  font-size: 40px;
  font-weight: 900;
  font-family: Times, serif;
  padding-left: 27px;
}
.enjoy-life p {
  width: 586px;
  height: 78px;
  color: #727272;
  line-height: 25px;
}
#themes {
  width: 586px;
  height: 744px;
  left: 240px;
  padding-top: 18px;
}
.desktop {
  border: 1px solid none;
  border-radius: 5px;
  padding: 20px 35px 15px 25px;
  box-shadow: 1px 1px 6px #888888;
  padding: 25px;
}
.desktop h3 {
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
.desktop p {
  font-size: 18px;
  color: #727272;
}
.drop {
  border: 1px solid none;
  border-radius: 5px;
  padding: 20px 35px 15px 25px;
  box-shadow: 1px 1px 6px #888888;
  padding: 25px;
  margin-bottom: 35px;
}
.drop h3 {
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
.drop p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #727272;
}
.awesome {
  border: 1px solid none;
  border-radius: 5px;
  padding: 20px 35px 15px 25px;
  box-shadow: 1px 1px 6px #888888;
  padding: 25px;
  margin-bottom: 35px;
}
.awesome h3 {
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
.awesome p {
  font-size: 18px;
  color: #727272;
}
.editor {
  border: 1px solid none;
  border-radius: 5px;
  padding: 20px 35px 15px 25px;
  box-shadow: 1px 1px 6px #888888;
  padding: 25px;
  margin-bottom: 35px;
}
.editor h3 {
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
}
.editor p {
  font-size: 18px;
  color: #727272;
}
.experiences img {
  width: 800px;
  height: 1000px;
  margin-left: 710px;
  margin-top: -2880px;
}
.experiences button {
  width: 342px;
  height: 200px;
  padding: 20px 30px;
  color: #ffffff;
  font-weight: 700;
  font-size: 55px;
  border: none;
  border-radius: 5px;
  background-color: #ff900e;
}
.skills {
  font-size: 30px;
}
.button {
  width: 342px;
  height: 200px;
  margin-left: 600px;
  margin-top: -110px;
}
/* Section-4 */
.facts h1 {
  font-size: 40px;
  margin-left: 240px;
  margin-top: 1100.08px;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.facts article {
  margin-left: 240px;
  font-size: 18px;
  color: #727272;
}
/* icon-1 */
.icon1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon1 h1 {
  display: flex;
  font-size: 50px;
  font-weight: 700;
  justify-content: center;
}
.icon1 p {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  font-family: serif;
  color: #727272;
  justify-content: center;
}
.icon1 {
  position: absolute;
  width: 241.83px;
  height: 150.83px;
  left: 331.92px;
  top: 3663.08px;
  border: 1px solid #ff900e;
  border-radius: 8px;
}
/* icon-2 */
.icon2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon2 h1 {
  display: flex;
  font-size: 50px;
  font-weight: 700;
  justify-content: center;
}
.icon2 p {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  font-family: serif;
  color: #727272;
  justify-content: center;
}
.icon2 {
  box-sizing: border-box;
  position: absolute;
  width: 241.83px;
  height: 150.83px;
  left: 697.92px;
  top: 3663.08px;
  border: 1px solid #ff900e;
  border-radius: 8px;
}
/* icon-3 */
.icon3 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon3 h1 {
  display: flex;
  font-size: 50px;
  font-weight: 700;
  justify-content: center;
}
.icon3 p {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  font-family: serif;
  color: #727272;
  justify-content: center;
}
.icon3 {
  box-sizing: border-box;
  position: absolute;
  width: 241.83px;
  height: 150.83px;
  left: 1063.92px;
  top: 3663.08px;
  border: 1px solid #ff900e;
  border-radius: 8px;
}
/* icon-4 */
.icon4 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.icon4 h1 {
  display: flex;
  font-size: 50px;
  font-weight: 700;
  justify-content: center;
}
.icon4 p {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  font-family: serif;
  color: #727272;
  justify-content: center;
}
.icon4 {
  box-sizing: border-box;
  position: absolute;
  width: 241.83px;
  height: 150.83px;
  left: 1429.92px;
  top: 3663.08px;
  border: 1px solid #ff900e;
  border-radius: 8px;
}
/* Section-5 */
#fifth-section {
  text-align: center;
}
.content h1 {
  justify-content: center;
  margin-top: 500px;
  font-size: 50px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.content article{
  font-size: 18px;
  color: #727272;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

