@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,500&family=Roboto+Slab:wght@600;800&display=swap');
* {
  margin: 0;
  padding: 0;
}
/* section-1 */
#first-section {
  background: rgba(255, 144, 14, 0.1);
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.sub-navbar {
  display: flex;
}

.sub-navbar h5 {
  padding: 0 20px;
}
.main-name {
  padding-left: 250px;
  padding-top: 50px;
  font-size: x-large;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.sub-navbar {
  font-size: x-large;
  font-weight: 700;
  padding-top: 60px;
  padding-right: 200px;
}
.new-brand h1 {
  font-size: 60px;
  font-weight: bolder;
  line-height: 70px;
  font-family: 'Poppins', sans-serif;
}
.new-brand p {
  color: #727272;
  font-size: 18px;
}
.new-brand button {
  padding: 20px 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: #ff900e;
}
.employee {
  padding-bottom: 50px;
}
/* section-2 */
.images {
  width: 342px;
  height: 342px;
  float: left;
  width: 50%;
  margin-left: 300px;
  margin-top: 90px;
}
.images div {
  width: 40%;
  height: 110%;
  float: left;
  padding: 10px;
}
.features {
  width: 537px;
  height: 304px;
  margin-left: 1092px;
  padding-right: 300px;
  padding-top: -100px;
  margin-bottom: 800px;
}
.features h1 {
  display: inline-block;
  font-size: 50px;
  font-weight: 700;
  padding-top: 380px;
}
.grey {
  margin-left: -160px;
  color: #727272;
  font-family: 'Poppins', sans-serif;
}
.orange {
  margin-left: -160px;
  font-family: 'Poppins', sans-serif;
  color: #ff900e;
  font-weight: 900;
}
.features article {
  font-size: 20px;
  color: #727272;
}
.features button {
  padding: 20px 30px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  background-color: #ff900e;
}
/* Section-3  */
#third-section {
  width: 5px;
  height: 106px;
  margin-left: 240px;
  margin-top: -200px;
  background: #ff900e;
}
.enjoy-life h2 {
  width: 300px;
  font-size: 35px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
  padding-left: 27px;
}
.enjoy-life p {
  width: 586px;
  height: 78px;
  color: #727272;
  line-height: 25px;
}
#themes {
  width: 586px;
  height: 744px;
  left: 240px;
  padding-top: 18px;
}
#themes h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  margin-bottom: 10px;
}
#themes p {
  font-size: 18px;
  color: #727272;
}
#themes div {
  border: 1px solid none;
  border-radius: 5px;
  padding: 20px 35px 15px 25px;
  box-shadow: 1px 1px 6px #888888;
  padding: 25px;
}
.experiences img {
  margin-left: 970px;
  margin-top: -130px;
}
.experiences button {
  width: 342px;
  height: 200px;
  padding: 20px 30px;
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  border: none;
  border-radius: 5px;
  background-color: #ff900e;
  margin-left: 40px;
}
.skills {
  font-size: 30px;
}
.button {
  margin-left: 840px;
  margin-top: -130px;
}
/*Section-4 */
.facts h1 {
  font-size: 40px;
  margin-left: 240px;
  margin-top: 100.08px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.facts article {
  margin-left: 240px;
  font-size: 18px;
  color: #727272;
}
.icons {
  position: relative;
  margin-left: 300px;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  padding-right: 200px;
}
.icons div {
  width: 241.83px;
  height: 241.83px;
  border: 2px solid orange;
  border-radius: 8px;
}
.icons div:hover {
  animation: square-animation 0.7s ease-in-out infinite;
}

@keyframes square-animation {
  25% {
    transform: translate(15px, 0);
  }
  50% {
    transform: translate(15px, 15px);
  }
  75% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}
.icons img {
  text-align: center;
  margin-left: 100px;
  margin-top: 50px;
}
.icons h1 {
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  color: hsl(0, 1%, 23%);
  font-family: 'Poppins', sans-serif;
}
.icons p {
  text-align: center;
  font-size: 22px;
  color: #727272;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}
/* Section-5 */
#fifth-section {
  text-align: center;
}
.content h1 {
  justify-content: center;
  margin-top: 150px;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}
.content article {
  font-size: 18px;
  color: #727272;
  font-family: 'Poppins', sans-serif;
}
.socials {
  display: flex;
  justify-content: space-between;
  font-size: 90px;
  margin-left: 260px;
  margin-right: 260px;
}
/*Bonus-Section */
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
}
ul {
  list-style: none;
}
.contact {
  background-color: #24262b;
  box-sizing: border-box;
  padding: 70px 0;
  border-radius: 7px;
}
.contact-col {
  width: 25%;
  padding: 0 15px;
}
.contact-col h4{

  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
}
.contact-col ul li{
  padding-top: 20px;
  
}
.contact-col ul li a{
  text-decoration: none;
  color:aquamarine;
font-size: 20px;
}
.social-links a{
  padding-top: 20px;
  display: inline-block;
  margin-right: 10px;
  font-size: 37px;
  color: aquamarine;
}
/* Section-6 */
.footer {
  width: 1400px;
  height: 90px;
  font-size: 20px;
  background-color: #fff4e7;
  color: #121111;
  border: 1px solid none;
  border-radius: 8px;
  text-align: center;
  margin-left: 240px;
}
.footer p {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 30px 0px 0px 0px;
}
